h1{
    align-items: center;
    font-size: 40px;
    text-align: center;
    background-color: blue;
    color: white;
}
   
.search-column{
    background-color:	#D3D3D3;
}

.card{
    background-color: blue;
    
}

content{
    font-size: 1;
    display: block;
}

.weatherstats{
    align-content: space-between;
    width: 100%;
    border: 3px solid black;
}

.c{
    margin: 10px;
    border: 3px solid gainsboro;
    background-color:darkblue;
    color: white;
    
}


.namecities{
    width: 100%;
    display: block;
    border: 1px solid blue;
    height: 40px;
    margin: 10px 0px 10px 0px;
}


#fiveday-container{
    justify-content: center;
    margin: 10px;
}

#content{
    display: flex;
    justify-content: center;
    
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}